<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="button.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6026902e47.js"
      crossorigin="anonymous"
    ></script>
    <title>Stark Buttons</title>
  </head>
  <body>
    <div>
      <h2>Solid buttons</h2>
      <button class="btn btn-primary">Primary Button</button>
      <button class="btn btn-secondary">Secondary Button</button>
    </div>
    <div>
      <h2>Link Button</h2>
      <a href="#" class="btn-link btn"> Link</a>
    </div>

    <div>
      <h2>Icon Button</h2>
      <a href="#" class="btn-icon btn"
        ><i class="fa-solid fa-house-chimney"></i
      ></a>
    </div>
    <div>
      <h2>Floating Icon Button</h2>
      <a href="#" class="btn-floating btn"><i class="fa-solid fa-plus"></i></a>
      <a href="#" class="btn-floating btn"
        ><i class="fa-solid fa-rotate-right"></i
      ></a>
    </div>
  </body>
</html>
