.h1-size{
    font-size:2rem;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.small-txt-color{
    color:var(--white-color)
}

.text-gray{
    color:var(--gray-color)
}


.types-container{
    border: 0.1rem solid var(--gray-color);
    border-radius: 1rem;
}

.heading-container{
    border: 0.1rem solid var(--gray-color);
    border-radius: 1rem;
}