.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex: row;
}

.center{
    align-self: center;
}

.p-rel{
    position: relative;
}

.dis-flex{
    display:flex
}

.justify-content-sb{
    justify-content: space-between;
}

.margin-sm{
    margin:0.5rem;
}

.txt-align-right{
    text-align: right;
}