<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script
      src="https://kit.fontawesome.com/6026902e47.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="alert.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stark alert</title>
  </head>
  <body>
    <div>
        <div class="alert alert-success">
          <i class="fa-solid fa-check"></i><span class='span-success'>Success!</span>
        </div>
    <div>
      <div class="alert alert-error">
        <i class="fa-solid fa-xmark"></i><span class="span-error">Error!</span>
      </div>
    </div>
    <div class="alert alert-primary">Primary alert!</div>
    <div class="alert alert-secondary">Secondary alert!</div>
    
  </body>
</html>
